.topnav {
    background-color: #867768;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #64674a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #584240;
    color: black;
}

.topnav a.active {
    background-color: #64674a;
    color: #3f4129;
}

.image {
    box-sizing: content-box;
    padding: 5px;
    margin: 5px;
    float: left;
    height: auto;
    width: auto;
    display: block;
    clear: both;
}

.art {
    box-sizing: border-box;
    height: 400px;
    width: auto;
    margin: 15px;
    clear: both;
}

article:nth-child(even)>figure {
    float: right;
}



.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.column {
    flex: 0 1 auto;
    width: 250px;
    border: #584240 solid;
    align-self: auto;
}

.column>img {
    width: 240px;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] 1fr;
    grid-template-areas:
        "head head head"
        "nav section aside"
        "nav footer footer";
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

header {
    grid-area: head;
}

footer {
    grid-area: foot;
}

nav {
    grid-area: nav;
    padding: 2em;
    margin: 1em;
    border-right: 2px solid #584240;
}


section {
    grid-area: section;
    padding: 2em;
    margin: 1em;
    border-right: 2px solid #584240;
}

aside {
    grid-area: aside;
}