.header {
    text-align: center;
    padding: 30px;
}

.topnav {
    background-color: #867768;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #64674a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #584240;
    color: black;
}

.topnav a.active {
    background-color: #64674a;
    color: #3f4129;
}

.image {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    float: left;
}

aside {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 300PX;
    margin: 25px;
    padding: 25px;
    border: 20px navy solid;
    border-radius: 100%;
    display: block;
}


aside h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    margin: 25px;
    width: auto;
    height: fit-content;
    display: block;
}
}