.header {
    text-align: center;
    padding: 30px;
}
.topnav {
    background-color: #867768;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #64674a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #584240;
    color: black;
}
.topnav a.active {
    background-color: #64674a;
    color: #3f4129;
}
.afghan {
    clear:left
}
.personalinfo {
    box-sizing: border-box;
    padding: 15px;
    margin: 25px;
    width: 70% ;
    
}