body {
    background-color: #594d45;
    color: #236ab9
}

h1 {
    background-color: #d4e4f7;
    color: #236ab9;
}

h2 {
    background-color: #fc7307;
    color: #341c09;


    form {
        width: 250px;
        text-align: center;
    }
}

footer {
    color: blue;

}