body {
    background-color: black;
    color: red
}

h1 {
    background-color: black;
    color: chartreuse;
}

h2 {
    color: orange;

form{
    width: 250px;;
    text-align: center;
}
}

footer {
    color: blue;
}